body{
  background-color:green;
  }
  
  .box{
  
  border-radius:20px;
      background-color:#eeeeee;

  
  }
  #footer {
    background-color:#336666;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}