
body{
   background-color:rgb(33, 247, 33);
    }
    
 .box{
    
    border-radius:20px;
    background-color:#eeeeee;
  
    
    }
#footer {
  background-color:#336666;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
  }
   